@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300&display=swap');
html {min-height: 100vh;
  -webkit-overflow-scrolling: touch;}

.wrapper{
  display: flex;
}
body {
  -webkit-overflow-scrolling: touch;
  height:100%;
  margin:0;
  overflow-y: hidden;
  overflow-x: hidden;
}
.App{
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
}
.bg-img{
  position: absolute;
  z-index: -1;
  right: 0;
  bottom: -250px;
  opacity: 0;
  -webkit-animation-duration: 10s;
  animation-duration: 2s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

@keyframes fadeIn {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.fadeIn {
  -webkit-animation-name: fadeIn;
  animation-name: fadeIn;
}
.bg {
  animation:slide 6s ease-in-out infinite alternate;
  background-image: linear-gradient(-60deg, #FFF4DE 50%, #fff 50%);
  bottom:0;
  left:-50%;
  opacity:.5;
  position:fixed;
  right:-50%;
  top:0;
  z-index:-5;
}

.bg2 {
  animation-direction:alternate-reverse;
  animation-duration:8s;
  z-index:-3;
}

.bg3 {
  animation-duration:10s;
  z-index:-3;
}


@keyframes slide {
  0% {
    transform:translateX(-25%);
  }
  100% {
    transform:translateX(25%);
  }
}
.row{
  background-color: transparent;
  min-height: 100vh;
  min-width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(5px + 2vmin);
  font-family: 'IBM Plex Mono', monospace;
  color: black;
  
}
.Nav{
  list-style-type: none;
  text-align: left;
  margin-left: 20px;
  margin-top: 10px;
  line-height: 3rem;
  font-size: calc(3px + 2vmin);
  
} 
.navLink:hover{
  color: darkgray;
}
.button{
  border: 0;
  font-family: 'IBM Plex Mono', monospace;
  background-color: transparent;
  font-size: calc(3px + 2vmin);
  padding: 0;
}
.col1{
  position: relative;
  height: 100vh;
  width: 20%;
}
.col2{
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100vh;
  width: 60%;
  white-space: pre-wrap;
}
.col2 a:visited{
  color: black;
}

.col2 a:hover{
  color: darkgrey;
}
.col3{
  position: relative;
  height: 100vh;
  width: 20%;
  
}
.socials{
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: center;
 margin-right: 20px;
  bottom: 0;
  right: 0;
  
}
.signature{
  position: absolute;
  top:0;
  right:0;
}
.sig{
  width: calc(100px + 5vmin);;
}
.socText{
  color:#FFF4DE;
  font-size: calc(3px + 2vmin);
  margin-left: 20px;
}
.icons{
  
  display: flex;
  flex-direction: row;
  List-style-type: none;
  
  
}
.sizer{
  display: block;
  width: calc(15px + 2vmin);
  height: calc(15px + 2vmin);
  padding-right: 20px;
  transition: all .2s ease-in-out;
}
.sizer:hover{
  transform: scale(1.15);
  
}
@media (max-width: 800px)
{
  .socials, .mobile-push{
    margin-bottom: 50px;
  }
}
@media (max-width: 500px)
{
  .socials{
    margin-bottom: 110px;
  }
  
    .mobile-push{
      margin-bottom: 210px;
    }
  }
